$popup_width: 130px;

.table_header__filter:checked {
    ~.header__popup {
        display: block;
        visibility: visible;
    }
    ~.label__close_popup {
        display: block;
        visibility: visible;
    }
}

.table_header__filter {

    ~.header__popup {

        display: none;
        visibility: hidden;
        width: 100%;

        .selection {
            position: relative;
            .options {
                display: none;
                visibility: hidden;
            }

            &:hover {

                .options {
                    display: block;
                    visibility: visible;
                }
            }

            .options {
                &:hover {
                    display: block;
                    visibility: visible;
                }

            }
        }

    }

    ~.label__close_popup {
        display: none;
        visibility: hidden;
    }
}


@include screen_md() {
    .table_header__filter{

        ~.header__popup{

            top: 30px;
            z-index: 3;
            width: $popup_width;
            border: 1px solid #000;

            &.pos_left{
                left: 0;
            }
            &.pos_right{
                right: 0;
            }

            .selection {
                .options {

                    z-index: 3;

                    top: 20px;

                    &.pos_left {
                        left: 0;
                    }

                    &.pos_right {
                        right: 0;
                    }
                }
            }

        }
        ~.label__close_popup{

            z-index: 2;
        }
    }
}