.table_header__filter:checked {
    ~.header__popup {
        display: block;
        visibility: visible;
    }
}

.table_header__filter{
    ~.header__popup{
        display: none;
        visibility: hidden;

        // position: absolute;
        // bottom: -90px;
        top: 50px;
        z-index: 3;
        width: 100px;
        background-color: #fff;
        border: 1px solid #000;
    }
}