<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <style>
    {% include 'css/styles.css' %}
  </style>
  <style>
    {% include 'css/tailwind.min.css' %}
  </style>
</head>
<body>
  <div page>
    <h1 title >Issues</h1>
    <div container>
        <ul header>
          <div title_group >

            {% set col_name = "title" %}
            {% include "chunks/column_header.html" %}

            {% set col_name = "url" %}
            {% include "chunks/column_header.html" %}

          </div>

          <div body_cell>
            {% set col_name = "Body + Comments" %}
            {% include "chunks/column_header.html" %}

          </div>

          {% for key,tag in all_tags %}
            {% set col_name = tag.name %}
            {% set col_options = tag.values %}
            {% include "chunks/column_header.html" %}
          {% endfor %}
        </ul>
      <!-- Rows below -->
      {% if issues[0] %}
        {% for issue in issues %}
          {# to give different color depending of the row number#}
          {% if loop.index % 2 == 0 %}
          <article pair_row  >

          {% else %}
          <article odd_row  >

          {% endif %}
            <div title_group >
              <div cell data_label="Title">
                <h2 title>{{ issue.title }}</h2> <!-- Title  -->
              </div>

              <div cell data_label="URL">
                <div > <!-- URL   -->
                  <a html_url target="_blank" href="{{issue.html_url}}">{{issue.html_url}}</a>
                </div>
              </div>

            </div>

            <div body_cell >
              <div cell  data_label="Body">
              {% if issue.body %}
                <p body> {{ issue.min_body }} </p> <!-- Body  -->
                {% set issue = issue %}
                {% include "chunks/comments_modal.html" %}
              {% endif %}

              </div>
            </div>

            {% for key, tag in all_tags %}
              <div cell data_label="{{tag.name | capitalize }}">
                {% if issue.tags[tag.name] %}
                  <strong>{{issue.tags[tag.name]}}</strong>
                {% else %}
                  <strong>----</strong>

                {% endif %}
              </div>
            {% endfor %}
          </article>
        {% endfor %}
      {% endif %}
    </div>
  </div>

</body>
</html>