%grid_container {
    display: grid;
    grid-template-columns: 1fr ; //Wrap all in One column in small sie

    @include screen_md() {
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    @include screen_lg() {
        //for lg and bigger sizes
        grid-template-columns: 2fr 1.5fr 1fr ;

    }

    @include screen_xl() {
        //for lg and bigger sizes
        grid-template-columns: 2fr 2fr 1fr ;

    }


}

.grid_container {

    @extend %grid_container;

    .cell_group_pair {
        display: grid;
        grid-template-columns: 1fr ; //wrap one on top of the other

        @include screen_lg() {
            //for lg and bigger sizes
            grid-template-columns: 1fr 1fr; // wrap one next to the other
        }
    }

    &.headers{
        display: none;

        @include screen_md() {
            display: grid;
        }
    }
    // .grid_element {}
}