%grid_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(20px, 100%)); //Wrap all in One column in small sie

    @include screen_md() {
        grid-template-columns: repeat(3, minmax(20px, 100%)); //Wrap all in 4 columns in medium size

    }

    @include screen_lg() {
        //for lg and bigger sizes
        grid-template-columns: repeat(5, minmax(20px, 100%)); //Wrap all in 6 columns in large and extra largge sizes

    }

}

.grid_container {

    @extend %grid_container;
    
    &.headers{
        display: none;

        @include screen_md() {
            display: grid;
        }
    }
    // .grid_element {}
}