.modal_controller:checked{
    ~.modal_container {
        display: flex;
        position: fixed;
        pointer-events: none;
        z-index: 3;

        .modal{
            @extend .animated ;
            @extend .fadeIn ;

            pointer-events: all;
            display: block;

            z-index: 4;
            height: 95%;
            max-width: 95%;
            
            width: 90%;

            @include screen_md(){
                width: 50%;

            }

            &::before{
                content: attr(data_label) ": ";
                font-weight: bolder;
                font-size: 2rem;
                text-transform: capitalize;
            }

        }

    }
    ~ .label_shadow{
        display: block;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);

    }

}