@import 'colors';

.box_underline{
    &::after{
        display: block;
        content: "";
        width: 100%;
        height: 1rem;
        border-bottom: 1px #edf2f7 solid;
    }
}

.button__pressed--depth{
    transition: transform .5s;

    &:active{
        transform: scale(.95);
    }
}