<li cell_header >
    <label cell_name for="{{col_name}}__table__header">
        {{col_name}}
    </label>
    <input filter_control type="checkbox" id="{{col_name}}__table__header">
    <label close_out for="{{col_name}}__table__header">
    </label>
    <div header_popup>
        <div selection>
            <p tag>
                Show Only
                <i triangle>
                </i>
            </p>
            <ul options>
                {% if col_options %}
                    {% for key,option in col_options %}
                        <li option>
                            <form action="">
                                <input hidden name="previous_filters" value="{{previous_filters}}" type="text">
                                <input hidden name="filters" value="{{col_name}}:{{option}}" type="text">
                                <button choose_option type="submit">
                                    {{option}}
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</li>