{% if has_selected %}
<li selected_cell_header >
{% else %}
<li cell_header >
{% endif %}
    <label cell_name for="{{col_name}}__table__header">
        {{col_name}}
        <i side_triangle>
        </i>
    </label>
    {% if col_tags or col_fields %}
        <input filter_control type="checkbox" id="{{col_name}}__table__header">
        <label close_out for="{{col_name}}__table__header">
        </label>

        {% if pos_left %}
        <div left_header_popup>
        {% else %}
        <div right_header_popup>
        {% endif %}
        {% if col_tags %}
            {% include 'chunks/tag_options.html' %}
        {% else  %}
            {% include 'chunks/field_options.html' %}
        {% endif %}
        </div>

    {% endif %}
</li>