<li cell_header >
    <label cell_name for="{{col_name}}__table__header">
        {{col_name}}
    </label>
    <input filter_control type="checkbox" id="{{col_name}}__table__header">
    <label close_out for="{{col_name}}__table__header">
    </label>
    {% if pos_left %}
    
    {% endif %}
    <div header_popup>
        <div selection>
            {% if col_options %}
                <p tag>
                    Show Only
                    <i triangle>
                    </i>
                </p>
                <ul options>
                    {% for key,option in col_options %}
                        <label for="{{col_name}}_{{option}}">
                            <li option>
                                <input
                                    type="checkbox"
                                    id="{{col_name}}_{{option}}" name="selection_{{col_index}}_{{loop.index}}"
                                    value="{{col_name}}:{{option}}">
                                {{option}}
                            </li>
                        </label>
                    {% endfor %}
                </ul>
            {% elif searchable %}
                <p tag>
                    Search for
                </p>

                <!-- <input search placeholder="{{col_field}}"  type="text" name="filters" value="{{col_field}}:"> -->

                <button hidden type="submit"></button>
            {% else %}
                <p tag>
                    No filters
                </p>
            {% endif %}
        </div>
    </div>
</li>