<input modal_controller id="{{issue.id}}_body" type="checkbox">
<label shadow for="{{issue.id}}_body"></label>

<div container_modal>
    <div modal>
        <div content_modal>
            <h1 title_modal>{{ issue.title }} </h1>
            <div body_modal>
                <h2 subtitle_modal>
                    Body:
                </h2>
                <input preview_controller id="{{issue.id}}_body_preview" type="checkbox">
                <div preview>
                    <p body>{{ issue.min_body }}</p>
                    <label preview_label for="{{issue.id}}_body_preview">
                        Read more and {{issue.comments}} Comments
                    </label>
                </div>
                <div view >
                    <p body>{{ issue.body }}</p> <!-- Body  -->
                    {% if issue.el_comments %}
                    <h2 subtitle_modal>Comments</h2>
                    <ul>
                        {% for comment in issue.el_comments %}
                        <li comment>
                            <h3>
                                <strong>{{comment.author}}</strong>
                            </h3>
                            <p>{{comment.body}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <label preview_label for="{{issue.id}}_body_preview">
                        Read less
                    </label>
                </div>
            </div>
            <div footer_modal>
                <label close_modal for="{{issue.id}}_body">
                    OK
                </label>
            </div>
        </div>
    </div>
</div>
<label show_more for="{{issue.id}}_body">Show More</label>