<ul header><!-- Begin header-->

    <div title_cell>
        <!-- {% set pos_left = true -%}
        {% set col_name = "Title #id" -%}
        {% include "chunks/column_header.html" %}
        <div second_title_cell>

            {# set pos_left = false -#}
            {# set col_name = "Id" -#}
            {# include "chunks/column_header.html" #}
        
        </div>

        <div sub_title_cell>

            <div body_cell >
                {% set col_name = "Body" -%}
                {% include "chunks/column_header.html" %}
            </div>

            {% set col_name = "Author" -%}
            {% include "chunks/column_header.html" %}
        </div> -->

        {% set pos_left = true -%}
        {% set col_name = "Summary" -%}
        {% include "chunks/column_header.html" %}
    </div>
    {% if all_tags %}
        {% for key,tag in all_tags %}
            {% if (loop.index - 1) % 3 == 0 or loop.index == 1 %}
                {% if loop.index > 1  %}
                </div>
                {% endif %}
                {% if loop.last %}
                    <div big_cell >
                {% else %}
                    <div three_cell_group >
                {% endif %}
            {% endif %}
            {% set col_name = tag.name %}
            {% set col_options = tag.values %}

            {% if tag.has_checked %}
                {% set has_selected = tag.has_checked %}
            {% else %}
                {% set has_selected = false %}
            {% endif %}

            {% set col_index = loop.index %}
            {% include "chunks/column_header.html" %}

            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul> <!-- End header-->