{% for key,field in col_fields %}
    {% if key != 'has_selected' %}
        <div selection>
            {% if field.value != "" %}
            <p check_tag>

            {% else %}
            <p tag>
            {% endif %}
                {{field.name}}
                <i triangle>
                </i>
            </p>
            <ul options>
                <li option>
                    <input search
                        placeholder="Search in {{field.name}}"
                        type="text"
                        name="{{key}}"
                        value="{% if field %}{{field.value}}{% endif %}" >
                </li>
            </ul>
        </div>
    {% endif %}
{% endfor %}