{% if issues[0] %}
    {% for issue in issues %}
    {# to give different color depending of the row number#}
    
    {% if loop.index % 2 == 0 %}
        {% if loop.last %}
            <article final_pair_row  >
        {% else %}
            <article pair_row  >

        {% endif %}

    {% else %}
        {% if loop.last %}
            <article final_odd_row  >
        {% else %}
            <article odd_row  >
        {% endif %}
    {% endif %}

        <div title_cell >
            <div cell data_label="Title">
                <a title_issue href="{% if issue.html_url %}{{issue.html_url}}{% endif %}" target="_blank">
                    <p title>
                        {{ issue.title }}
                    </p>
                    {% if issue.number_id %}
                        <p id_num>
                            #({{issue.number_id}})
                        </p>
                    {% endif %}
                </a><!-- Title  -->
            </div>

            <div sub_title_cell >

                <div body_cell >
                    <div cell  data_label="Body">
                        {% if issue.body %}
                            <p min_body> {{ issue.min_body }} </p> <!-- Body  -->
                            {% set issue = issue %}
                            {% include "chunks/comments_modal.html" %}
                        {% endif %}
                    </div>

                </div>

                <div cell data_label="Author">
                    <b>
                        {% if issue.user.login %}
                            {{ issue.user.login }}
                        {% elif issue.author %}
                            {{issue.author}}
                        {% endif %}
                    </b>
                </div>
            </div>
        </div>
        {# tag columns #}
        {% if tags_matrix[0][0] %}
            {% for tags in tags_matrix %}
                {% if loop.last %}
                    <div closing_three_cell_group>
                {% else %}

                    <div three_cell_group >
                {% endif %}

                    {% for tag in tags %}
                        <div cell data_label="{{tag.name | capitalize }}">
                            {% if issue.tags[tag.name] %}
                                <b>{{issue.tags[tag.name]}}</b>
                            {% else %}
                                <b>----</b>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        {% endif %}

        </article>
    {% endfor %}
{% endif %}