<ul header><!-- Begin header-->

    <div title_cell>
        {% set pos_left = true -%}
        {% set col_name = "Summary" -%}
        {% include "chunks/column_header.html" %}
    </div>

    {% set pos_left = false -%}

    {% set col_tags = all_tags %}
    <div bordered_cell >
        {% set col_name = "Basics" -%}
        {% include "chunks/column_header.html" %}
    </div>
    <div bordered_cell >
        {% set col_name = "Measure" -%}

        {% include "chunks/column_header.html" %}
    </div>
    <div bordered_cell >
        {% set col_name = "Status" -%}

        {% include "chunks/column_header.html" %}
    </div>
</ul> <!-- End header-->