{% if issues[0] %}
    {% for issue in issues %}
    {# to give different color depending of the row number#}
    {% if loop.index % 2 == 0 %}
        <article pair_row  >

    {% else %}
        <article odd_row  >

    {% endif %}

        <div title_cell >
            <div cell data_label="Title">
                <a title_issue href="{{issue.html_url}}" target="_blank">{{ issue.title }}</a><!-- Title  -->
            </div>
            <div sub_body_cell >
                <div cell  data_label="Id">
                    {{issue.id}}
                </div>

                <div cell  data_label="Body">
                    {% if issue.body %}
                        <p body> {{ issue.min_body }} </p> <!-- Body  -->
                        {% set issue = issue %}
                        {% include "chunks/comments_modal.html" %}
                    {% endif %}
                </div>

                <div cell>
                    <strong>
                        {{ issue.user.login }}
                    </strong>
                </div>
            </div>
        </div>
            {% for key,tag in all_tags %}
                {% if (loop.index - 1) % 3 == 0 or loop.index == 1 %}
                    {% if loop.index > 1  %}
                        </div>
                    {% endif %}
                    <div three_cell_group >
                {% endif %}

                <div cell data_label="{{tag.name | capitalize }}">
                    {% if issue.tags[tag.name] %}
                        <strong>{{issue.tags[tag.name]}}</strong>
                    {% else %}
                        <strong>----</strong>
                    {% endif %}
                </div>
                    {% if loop.last %}
                        </div>
                    {% endif %}
            {% endfor %}

        </article>
    {% endfor %}
{% endif %}