{% if issues[0] %}
    {% for issue in issues %}
    {# to give different color depending of the row number#}
    {% if loop.index % 2 == 0 %}
        <article pair_row  >

    {% else %}
        <article odd_row  >

    {% endif %}

        <div title_cell >
            <div cell data_label="Title">
                <a title_issue href="{{issue.html_url}}" target="_blank">
                    <p title>
                        {{ issue.title }}
                    </p>
                    <p id_num>
                        #({{issue.number_id}})
                    </p>
                </a><!-- Title  -->
            </div>
            <!-- <div second_title_cell >

            </div> -->
            <div sub_title_cell >


                <div body_cell >
                    <div cell  data_label="Body">
                        {% if issue.body %}
                            <p body> {{ issue.min_body }} </p> <!-- Body  -->
                            {% set issue = issue %}
                            {% include "chunks/comments_modal.html" %}
                        {% endif %}
                    </div>

                </div>

                <div cell data_label="Author">
                    <strong>
                        {{ issue.user.login }}
                    </strong>
                </div>
            </div>
        </div>
            {# tag columns #}
            {% for key,tag in all_tags %}
                {% if loop.index0 % 3 == 0 or loop.index == 1 %}
                {# if index is multiple of 3 or is the first index #}
                    {% if loop.index0 > 0  %} {# for any cicle after the first one #}
                        </div>
                    {% endif %}
                    {% if loop.last %}
                        <div big_cell >
                    {% else %}
                        <div three_cell_group >

                    {% endif %}
                {% endif %}

                <div cell data_label="{{tag.name | capitalize }}">
                    {% if issue.tags[tag.name] %}
                        <b>{{issue.tags[tag.name]}}</b>
                    {% else %}
                        <b>----</b>
                    {% endif %}
                </div>
                    {% if loop.last %}
                        </div>
                    {% endif %}
            {% endfor %}

        </article>
    {% endfor %}
{% endif %}